extends welcome.pug

block content
  div.form-container
    form(action='/welcome' method='post')#login-form
      .error-messages
        ul#error-list
          each error in errors
            li(class='errors')=error
      div.form-items-login
        div#logo-img
        p#login-words Login
        input(name='_csrf' type='hidden' value=csrfToken)
        label Email:
        input(type='email' name='emailAddress' value=emailAddress placeholder='Your email')
        div.space
        label Password:
        input(type='password' name='password' placeholder='Your password')
        div#buttons-container
          div.space#buttons
            a(href='/users' class='login-button') Create an account
            button(type='submit').signup-login-button Login
          div.space#demo
            a(href='/welcome/demo' class='demo-button').demo-button Demo
