include layout.pug

block content
  body.outer-class

      form(action='/users' method='post')#signup-form
          div#logo-img
          div.form-items
            p#signup-words Sign Up
            input(name='_csrf' type='hidden' value=csrfToken)
            label User Name:
            input(type='text' name='username' placeholder='Your username')
            div.space
            label Email:
            input(type='email' name='emailAddress' placeholder='Your email')
            div.space
            label Password:
            input(type='password' name='password' placeholder='Your password')
            div.space
            label Confirm Password:
            input(type='password' name='confirmedPassword' placeholder='Your password')
            div.space#buttons
              button(type='submit')#signup-button Signup
              a(href='/users/login')
                button#login-button Login
            ul.error-list
              each error in errors
                li(class='errors')=error
