extends layout.pug

block content
  div.outer-class

      form(action='/users' method='post')#signup-form
        div.form-items
          input(name='_csrf' type='hidden' value=csrfToken)
          label User Name:
          input(type='text' name='username')
          div.space
          label email:
          input(type='email' name='emailAddress')
          div.space
          label Password:
          input(type='text' name='password')
          div.space
          label Confirm Password:
          input(type='text' name='confirmedPassword')
          div.space
          button.submit-button Submit
          ul.error-list
            each error in errors
              li(class='errors')=error
          a(href='/users/login') Login if you have an account
