extends layout.pug

block content
   h1.topic-title Welcome to Topics!
      div.topics-page
          each topic in topics
            div.topic-box
              div(id=`picture-${topic.id}`)
              a(href=`/topics/${topic.id}` class='topic-link')=topic.name
