@font-face {
    font-family: Din-medium;
    src: url("/public/DIN/DIN\ Medium.ttf");
}

#greeting {
position: absolute;
margin-left: 5px;
z-index: 0;
}

.answer-box {
  border-top: 1px solid grey;
  width: 100%;
  padding: 0 10px
}

#nav {
  z-index: 2;
}

body {
  overflow: scroll;
}

  #question-page {
    background-color: rgb(231, 231, 231);
  }

.question-content {
  padding: 0 10px;
}

#main-nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: white;
}

.add-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-button {
  border: 1px solid rgb(184, 38, 37);
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  width: 80px;
  text-decoration: none;
  border-radius: 10px;
  color: rgba(184, 38, 37);
  background-color: white;
}

.comment-value {
  border-radius: 15px;
}

.question-author {
  font-weight: 700;
}

.question-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid rgb(231, 231, 231);
  width: 550px;
  height: auto;
  background-color: white;
  padding: 10px 10px
}

#add-question {
  border-radius: 30px;
  width: 90px;
  height: 50px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

#nav-signup {
  margin-right: 20px;
  height: 50px;
  width: 90px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: rgba(184, 38, 37);
  color: white;
}

#nav-login {
  margin-right: 20px;
  height: 50px;
  width: 90px;
  border-radius: 30px;
  border: 1px solid rgba(184, 38, 37);
  background-color: white;
  color: rgb(184, 38, 37);
}

#right-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#logo-img {
  background-image: url("/public/images/CookNook\ Logo\ -\ Red.png");
}

#add-question {
  margin-right: 60px;
}

::placeholder {
    padding-left: 3px;
    font-family: Din-medium;
}

.login-button {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  width: 280px;
  color: rgba(184, 38, 37)
}

#buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
}

.outer-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pexels-roman-odintsov-4551832.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo-img {
    background-image: url("../images/CookNook\ Logo\ -\ Red.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 100px;
}

#login-words {
  color:grey;
  padding-bottom: 4px;
  border-bottom: 1px grey solid;
  font-family: Din-medium;
}

#login-form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 800px;
  height: 500px;
  padding: 20px 30px;
  border-radius: 40px;
  margin-top: 100px;
}

#signup-words {
    color:grey;
    padding-bottom: 4px;
    border-bottom: 1px grey solid;
    font-family: Din-medium;
}

.signup-button {
  background-color: rgba(184, 38, 37, 0.5);
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-family: sans-serif;
  color: white;
  border: 1px solid rgba(184, 38, 37, 0.5);
  transition-duration: .5s;
  font-family: Din-medium;
}

.signup-button:hover {
  color: #b82525;
  background-color: rgba(184, 38, 37);
  border: 1px solid rgba(184, 38, 37);
  color: white;
}

.form-items {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(131, 131, 131, 0.87);
  padding-left: 20px;
  gap: 3px;
  width: 300px;
  font-family: Din-medium;
  margin-top: 10px;
  width: auto;
}

.form-items-login {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(131, 131, 131, 0.87);
  padding-left: 20px;
  justify-content: center;
  gap: 3px;
  width: 300px;
  font-family: Din-medium;
  margin-top: 10px;
  width: auto;
}

.form-items > a {
  text-decoration: none;
  margin-top: 10px;
}

.space {
  margin: 5px;
}

.errors {
  color:rgba(184, 38, 37);
  margin-top: 3px;
}

.landing-container {
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  height: 550px;
  width: 860px;
  margin-top: 265px;
  align-items: center;
  border-radius: 30px;
}

.error-messages {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 800px;
  height: 500px;
  padding: 20px 30px;
  border-radius: 40px;
  margin-top: 100px;
}

.signup-div {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#placeholder {
  width: 400px;
  height: 200px;
  background-image: url("../images/CookNook-Placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  width: 400px;
  height: 300px;
  background-color: transparent;
}

.pseudo-login {
  width: 400px;
  height: 300px;
  display: hidden;
}

.signup-login-div {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin-top: -27px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.question-form-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.question-form-container-items {
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: white;
  border-radius: 15px;
}

.question-form-container-items > #x {
  margin-top: 10px;
  margin-left: 10px;
  height: 10px;
  text-decoration: none;
}

.question-form-tips p {
  margin-left: 10px;
  color:rgba(184, 38, 37);
  font-weight: bold;
}

.question-form-tips > ul li {
  margin-left: 30px;
  color:rgba(184, 38, 37);
}

.question-form-body > form > textarea {
  margin: 10px;
  resize: none;
  width: auto;
  height: 18em;
  border: none;
  background-color: rgb(250, 250, 250);
}

.question-form-header {
  border-bottom: 1px solid red;
  align-content: center;
}

.question-form-header > p {
  text-align: center;
}

.question-form-body > form {
  display: flex;
  flex-direction: column;
}
.question-form-body > form > * {
  padding: 10px;
}

.question-form-body > form > input {
  margin: 10px;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}

#ask-question-button {
  background-color: rgba(184, 38, 37);
  border-radius: 40px;
  height: 40px;
  width: 100px;
  font-family: sans-serif;
  color: white;
  border: 1px solid rgba(184, 38, 37, 0.5);
  transition-duration: .5s;
  font-family: Din-medium;
  text-align: center;
}

#cancel:hover {
  text-decoration: underline;
}

#cancel {
  background-color: transparent;
  border-radius: 10px;
  height: 40px;
  width: 75px;
  font-family: sans-serif;
  color: gray;
  transition-duration: .5s;
  font-family: Din-medium;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
}

.topics-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto;
}

.topics-box {
  border: #b82525 1px solid;
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: white;
  padding: 40px;
  font: white;

}
.topic-title {
  display: flex;
  align-content: center;
  border:#b82525 solid 1px;
  background-image: url("../images/pexels-mister-mister-3434523.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
